{% extends "layout.html" %}

{% block title %}
Welcome
{% endblock %}

{% block main %}
<div>
    {% if session["user_id"] %}
    <h3>Go</h3>
    <form action="/" method="post">
        <div class="d-grid gap-2 col-6 mx-auto">
   
            {% if actions["startDay"] %}
            <button class="btn btn-primary" type="submit" value="valueStart" name="actionStart">start</button>
            {% else %}
            <button class="btn btn-primary" type="submit" value="valueStart" name="actionStart" disabled>start</button>
            {% endif %}

            {% if actions["startLunch"] and not actions["startDay"] %}
            <button class="btn btn-primary" type="submit" value="valueLunchStart" name="actionLunchStart">lunch start</button>
            {% else %}
            <button class="btn btn-primary" type="submit" value="valueLunchStart" name="actionLunchStart" disabled>lunch start</button>
            {% endif %}

            {% if actions["finishLunch"] and not actions["startLunch"]%}
            <button class="btn btn-primary" type="submit" value="valueLunchEnd" name="actionLunchEnd">lunch end</button>
            {% else %}
            <button class="btn btn-primary" type="submit" value="valueLunchEnd" name="actionLunchEnd" disabled>lunch end</button>
            {% endif %}

            {% if actions["finishDay"] and actions["startDay"] == False %}
            <button class="btn btn-primary" type="submit" value="valueEnd" name="actionEnd">end</button>
            {% else %}
            <button class="btn btn-primary" type="submit" value="valueEnd" name="actionEnd"disabled>end</button>
            {% endif %}
        </div>

        <div>
            <Table>
                
            </Table>
        </div>
    </form>

    {% else %}
    <h3>Hello. I tried to make an application for conveniently recording working hours.</h3>
    <p>Please, choose to login or register</p>
    {% endif %}
</div>
{% endblock %}