{% extends "layout.html" %}

{% block title %}
change password
{% endblock %}

{% block main %}
<div class="reg-form">
    <div class="reg-title">
        <h1>Change password</h1>
    </div>
    <form action="/password" method="post">
        <div class="reg-form-group">
            <label> confirm your credential</lable>
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username"
                    placeholder="Username" type="text">
                <input class="form-control mx-auto w-auto" id="password" name="currenPassword"
                    placeholder="Current password" type="password">
        </div>
        <div class="reg-form-group">
            <label> Please provide your new password</lable>
                <input class="form-control mx-auto w-auto" id="password" name="newPassword" placeholder="New password"
                    type="password">
                <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation"
                    placeholder="Confirmation" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Save</button>
    </form>
</div>
{% endblock %}