{% extends "layout.html" %}

{% block title %}
register
{% endblock %}

{% block main %}

<div class="reg-form">
    <form action="/register" method="post">
        <div class="reg-title">
            <h1>Register</h1>
        </div>
        <div class="reg-form-group">
            <label>Username</label>
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username"
                placeholder="Username" type="text">
        </div>
        <div class="reg-form-group">
            <label>Password</label>
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password"
                type="password">
            <label>Confirmation</label>
            <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Confirmation"
                type="password">
        </div>
        <div class="reg-form-group">
            <label>First Name</label>
            <label class="opt-lable">optional</label>
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="firstname" name="firstname"
                placeholder="First name" type="text">
        </div>
        <div class="reg-form-group">
            <label>Last Name</label>
            <label class="opt-lable">optional</label>
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="lastname" name="lastname"
                placeholder="Last name" type="text">
        </div>
        <div class="reg-form-group">
            <button class="btn btn-primary" type="submit">Register</button>
        </div>
    </form>
</div>

{% endblock %}